{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <div class="row justify-content-center">
      {% if user.is_authenticated %}
      

      <h2 class="col-12">{{ like_genre }} 장르를 좋아하시네요! 이런 영화들은 어떠신가요?</h2>
        {% for movie in like_genre_movies %}
          <div class="card col-8 col-sm-6 col-md-4 col-lg-3 pt-3 {% if user in movie.like_users.all %}
          myborder
          {% endif %}"
          style="width: 18rem; background-color: rgba(0, 0, 0, 0);"
          id="like-movie-{{ movie.pk }}">
            <a href="{% url 'movies:detail' movie.id %}"><img src="{{movie.poster_url}}"  alt="..."></a>
            <div class="card-body">
              <h5 class="card-title">{{ movie.title }}</h5>
              <p class="card-text">관객 수: {{ movie.audience }}</p>
            </div>
            <div class="card-body">
              <a href="{% url 'movies:detail' movie.pk %}">상세 페이지로</a><br>
              <span id="like-count-{{ movie.pk }}" class="card-text">{% if movie.like_users.count >= 2 %}{{ movie.like_users.all.0}}외 {{ movie.like_users.count|add:-1 }}명이 이 영화를 좋아합니다.{% elif movie.like_users.count == 1 %}{{ movie.like_users.all.0}}님이 이 영화를 좋아합니다.{% else %}현재 이 영화를 좋아하는 사람이 없습니다.{% endif %}</span><br>
              <i class="{% if user in movie.like_users.all %}
              fas
              {% else %}
              far
              {% endif %} fa-heart like-button"
              data-id="{{ movie.pk }}"
              style="color: crimson;">
              좋아요
              </i>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <h2 class="text-center my-5">로그인 한 유저만 추천 서비스를 이용할 수 있습니다.</h2>
      {% endif %}      
    </div>
    <div class="row justify-content-center">
      <a href="{% url 'movies:index' %}"><button type="button" class="btn btn-light">메인 페이지로</button></a>
    </div>
  </div>
  <script>
    const likeButtons = document.querySelectorAll('.like-button')
    likeButtons.forEach(button => {
      button.addEventListener('click', function(event) {
        const movieId = event.target.dataset.id
        axios.defaults.headers.common['X-Requested-With'] = "XMLHttpRequest"
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFToken'
        axios.post(`/movies/like/${movieId}/`)
        .then(response => {
          document.querySelector(`#like-count-${movieId}`).innerText = response.data.text
          if (!response.data.liked) {    
            event.target.classList.remove('fas')
            event.target.classList.add('far')
            event.target.innerText=" 좋아요"
            document.querySelector(`#like-movie-${movieId}`).classList.remove('myborder')
          } else{                    
            event.target.classList.remove('far')
            event.target.classList.add('fas')
            event.target.innerText=" 좋아요"
            document.querySelector(`#like-movie-${movieId}`).classList.add('myborder')
          }
        })
        .catch(error => console.log(error))
      })
    })
  </script>
{% endblock %}